$web-h1: 2em;
$web-h2: 1.5em;
$web-h3: 1.17em;
$web-h4: 1em;
$web-h5: .83em;
$web-p: 1em;

$mobile-h1: 25px;
$mobile-h2: 23px;
$mobile-h3: 21px;
$mobile-h4: 16px;
$mobile-h5: 14px;
$mobile-p: 16px;

$padding-content: 40px;
$padding-content-mobile: 40px 0;

$padding-container: 40px 5px;

$black-1: #1c1c1c;
$black-2: #353535;
$black-3: #4a5568;

$grey: rgba(255, 255, 255, 0.3);

$white: #fff;

$red-bg: #ffaaaa;
$red-color: red;

$orange-bg: #ffdfac;
$orange-color: orange;

$yellow-bg: #ffffc0;
$yellow-color: #ffe600;

$green-bg: #cdffc4;
$green-color: #59ff00;

$cyan-bg: #d9fcff;
$cyan-color: #00d9ff;

$purple-bg: #e4d9ff;
$purple-color: #6a00ff;

$pink-bg: #fcd9ff;
$pink-color: #ff00f2;