@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import "./constant";

@import "components/pages/home/tag";

@import "components/header";
@import "components/footer";
@import "components/template";

@import "components/pages/skills";
@import 'components/pages/about';
@import 'components/pages/env';
@import 'components/pages/resume';
@import 'components/pages/services';
@import 'components/pages/work';

@import "components/pages/home/about";
@import "components/pages/home/process";
@import "components/pages/home/contact";
@import "components/pages/home/banner";
@import "components/pages/home/passions";

* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  overflow: visible;
  scroll-behavior: smooth;

  &, :after, &:before {
    box-sizing: border-box;
  }
}

a {
  text-decoration: none;
  color: inherit;
  &:visited {
    text-decoration: none;
  }
  &:active {
    transform: scale(0.95);
  }
}